**Python Crash Course** <br>
We need basic knowledge of Python for Machine Learning. 

This is not a comprehensive course in Python. We will go over some basic concepts that will be helpful in Machine Learning Course.

This notebook will just go through the basic topics in Python programming in following order:

- Data types
- Numbers
- Booleans
- Strings
- Printing
- Lists
- Tuples
- Dictionaries
- Sets
- Comparison Operators
- if, elif, else Statements
- for Loops
- while Loops
- range()
- list comprehension
- functions
- lambda expressions
- map and filter
- methods
- OOPS CONCEPT

All the students in the class will be provided access to DataCamp as well. You are encouraged to do extra practise.

In [2]:
# <For google Colab>
from google.colab import drive
drive.mount('/content/drive')

# Data types

1. Data types are the classification or categorization of data items. 
2. It represents the kind of value that tells what operations can be performed on a particular data
3. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

Different types of data types in python are as follows:

<div>
<img src="https://drive.google.com/uc?export=view&id=1es2mrTQKgQ8LSczST05_kLXqUPUcq2FW" width="600"/>
</div>

## **Numeric** ##

We can add(+), substract(-), multiply(*), and divide (/) numbers in python just like mathematical numbers

### **Integers** ###
This value is represented by integer class type.

We can use the type() function to know which class a variable or a value belongs to.

In [3]:
a = 10
b = 20
# type function prints the class of a
print(f'the type of a is : {type(a)}')

the type of a is : <class 'int'>

In [4]:
# addition of numbers
a + b

30

In [5]:
# product of numbers
a * b

200

In [6]:
#direct division of the integers is also possible
a / b

0.5

### **Float** ###
1. Any number with a decimal point in programming language is known as float.
2. This value is represented by float class.

In [7]:
a = 0.1
# check class of a
print(f"type of a is : {type(a)} ")

type of a is : <class 'float'>

In [8]:
c = 1
b = 0.3
# print product of a and b
print("The product of c, b is :", c * b) 
# check thr type of the product - use f string literals
print(f"The type of product of a, b is : {type(c * b)}")

The product of c, b is : 0.3
The type of product of a, b is : <class 'float'>

In [9]:
# subtraction
0.4 - 0.2

0.2

## **Comparison Operators**
Comparison operators are used to compare two values.

<img src = "https://drive.google.com/uc?export=view&id=1AKrgEfDfddbypMdBP6c-7avqq2L9tq8h" width ="500"/>

In [10]:
A = 10
B = 123
A == B

False

In [11]:
10 > 20

False

In [12]:
50 < 100

True

In [13]:
100 >= 101

False

In [14]:
'Hi'=='Hello'

False

In [15]:
20 >= 20

True

In [16]:
1000 != 20

True

In [17]:
'morning' != 'Morning'

True

## **Boolean** ##
1. In programming language you often need to know if an expression is True or False.
1. Boolean is a data type with two built in values : True or False.
2. This type of data type is used for comparison  or to check a condition.
4. The bool() function allows you to evaluate any value, and give you True or False in return.

In [18]:
# check the class type of the following : True, False
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [19]:
# A boolean is valid if we use upper case 'T' for True and upper case 'F' for False.
# Otherwise it will throw error 
print(type(true))

NameError: name 'true' is not defined

In [20]:
# We can test, if an expression is True or False.
# check if 10>20
print(10 > 20) 

# check datatype of comparison
print(type (10 > 20))

False
<class 'bool'>

In [21]:
print(20 == 50)

False

In [22]:
print(10 != 20)

True

## **Sequence type** ##
1. Sequence is an **ordered** collection of similar or different data types.
2. It allows to store multiple values in an organised and efficient manner.
3. There are several sequence types in python, e.g., list, tuple, strings.

### **String** ###
1. String is a sequence of Unicode characters.

 (Unicode is a specification that lists every character of human language with a special unique code)
 <br>  https://en.wikipedia.org/wiki/List_of_Unicode_characters
2.We use **single** or **double quotes** to represent a string.
  
  Example: 
  
  a = 'Hello Python'
  
  b = " I am a string as well "
            
3. Strings are immutable that is it cannot be modified.

In [23]:
# Creating an empty string
empty_string = ""
# print string
print(empty_string)

In [24]:
# Creating a string
string_1 = "String is a python data type"
# print string
print(string_1)

String is a python data type

In [25]:
# Creating string with single quote
string_11 = 'String is also a data type in java'
print('The string created by single quoate is :', string_11)

The string created by single quoate is : String is also a data type in java

#### **Accessing a character from a string** ####
1. Index starts from 0 and ends at the count of last character.
1. We can access an element of a  string by using indexing method.
2. Indexes are mentioned in terms of numbers. They can be positive or negative.
3. The positive numbers access character of a string from left to right.
5. The negative numbers access character of a string from right to left. 

**Example**:


<img src = "https://drive.google.com/uc?export====view&id=1TW-xSxxSpQ15-MATejz4rkXYZdLN3X-F" width = "1000"/>

Python index srarts at zero : 

[n :] - everything from n onwards including n,

 [: n] everything upto n excluding n)

In [26]:
# Accessing the characters from the strings
string_2 = "String cannot be modified in python"

# Get the character at 1st position i.e. 2nd character
print("The character at 1st position in the string_2 is ", string_2[1])

The character at 1st position in the string_2 is  t

In [27]:
# Accessing the last character of the string
string_3 = "MyString"
print("the last character of the string is :", string_3[-1])

the last character of the string is : g

In [30]:
string_4 = "Data science course is for everyone"

# everything except Data
print ('Everything except Data:', string_4[0:4])

# Get first seven characters
print ('First three characters:', string_4[0:7])

Everything except Data: Data
First three characters: Data sc

In [31]:
# String cannot be modified (immutable) and will throw an error
String_3 = "Modify me"
String_3[4] = 'd'

TypeError: 'str' object does not support item assignment

#### **Use string literals for formating strings in print statement**

1. f-strings are the new and improved way to format strings in python. 
1. **Formatted string literals**, f-strings are string literals that have an 'f' at the beginning .
2. A Curly braces containing expressions that will be replaced with their values. 
3. The expressions are evaluated at runtime and then formatted using the **format** protocol.

In [32]:
num = 12
name = 'Data'
print(f'My number is: {num} and my name is: {name}')

My number is: 12 and my name is: Data

### **List** ###
1. In many other programming language, arrays are treated as a collection of different values.
2. Lists are the ordered arrays.
   
   Example :
   
   my_list = [2, 3, 5, "Happy"]
3. Multiple data types can be used in a list.
4. We can use **[  ]** or list() keyword to create a list.
5. Lists are mutable, we can add or delete any values from the list.

In [33]:
# Creating empty list
my_list = []
print(my_list)

[]

In [34]:
# Creating a list
list_1 = [1, 2, 3, 'Hi', 'Bye']
print(list_1)

[1, 2, 3, 'Hi', 'Bye']

In [35]:
# Creating list by using list() keyword
List_2 = list([15, 45, 23, 86, 49, 45])
print(f"The marks obtained by students are: {List_2}")

The marks obtained by students are: [15, 45, 23, 86, 49, 45]

In [36]:
# Accessing particular value in the list
List_3 = ["Java", "Python", "SQL"]
print("List containing multiple values: ")

# print the first element of list
print(List_3[0]) 

# print the third element of list
print(List_3[2])

List containing multiple values:
Java
SQL

In [37]:
# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List_4 = [['Data science', 'Python'], ['Big data']]
print("Multi-Dimensional List: ")
print(List_4)

Multi-Dimensional List:
[['Data science', 'Python'], ['Big data']]

In [38]:
# accessing elements of multidimensional list
# Retrive Python from list_4
List_4[0][1]

'Python'

#### **Adding single element**
We can use .append() method to add a single element to existing list.

In [39]:
List1=['data', 'science', 'project', 'course']
#Adding new elements at the end of the list
List1.append('Machine learning')
print(f"The new element added to the list and the new list is: {List1}")

The new element added to the list and the new list is: ['data', 'science', 'project', 'course', 'Machine learning']

#### **Adding iterables (like list, tuple)**
 We can use append(), extend() methods to add new elements to the list from exieting iterables like (list):
1. .append() method adds the iterable as single element to the end of the target list. The length of the target list itself will only increase by one.
2. .extend() takes an iterable as an argument, unpacks its items, and adds them to the end of your target list. The length of the target list will increase by number of elements in the passed iterable.

In [40]:
my_list1=['Python', 'java', 'sql', 'C']
my_list2=['database', 'object-oriented', 'first language']
# combine lists using append
my_list1.append(my_list2)
# print the combined list
print(my_list1)

['Python', 'java', 'sql', 'C', ['database', 'object-oriented', 'first language']]

In [41]:
my_list1=['Python', 'java', 'sql', 'C']
my_list2=['database', 'object-oriented', 'first language']
# combine lists using extend
my_list1.extend(my_list2)
# print the combined list
print(my_list1)

['Python', 'java', 'sql', 'C', 'database', 'object-oriented', 'first language']

#### **Removing an element**
To remove an element from a list, you can use remove(), del() or pop() methods.
1. The pop() method deletes the item at a specific index.
2. The del() method can be used to delete all the elements in a specific range.
3. remove() method removes the first occurence of matching element.

In [42]:
list1 = ['physics','Mathematics','chemistry', 1997, 2000]
# remove Mathematics and chemistry from list1 using del method
del list1[1:3]
# print the list
print(list1)

['physics', 1997, 2000]

In [43]:
# Using pop() function to delete the element
# By default pop will remove the last element 
list1 = ['physics', 'chemistry', 1997, 2000]

# use pop to remove last element
removed_element = list1.pop()
# print removed element
print(removed_element)

# print list
print(list1)

2000
['physics', 'chemistry', 1997]

In [44]:
# Using pop() function to delete the element at specific index
list1 = ['physics', 'chemistry', 1997, 2000]

# Deleting the element at the second index
removed_element = list1.pop(2)
# print removed element
print(removed_element)

# print list
print(list1)

1997
['physics', 'chemistry', 2000]

In [45]:
# Deleting the element from the sub-list
# select the sublist first and then use pop to romove specific element

list2 = ['English','German','spanish','Chinese', 1997, [1,2,3,4]]
# remove second element from sublist
list2[5].pop(1)
print(list2)

['English', 'German', 'spanish', 'Chinese', 1997, [1, 3, 4]]

In [46]:
# Using remove() method
# It will remove the first matching element.
my_list=[12, 45, 5, 12, 45, 63, 78, 95, 42]

# remove first occurunce of 12
my_list.remove(5) 
print(my_list)

[12, 45, 12, 45, 63, 78, 95, 42]

### **Tuple** ###
1. Tuples are similar to list.
2. The only difference is that tuples are immutable that is it cannot be modified.
3. Tuples are created by placing a sequence of values separated by ‘comma’ with parenthesis.
4. list uses [], while tuple uses ()
 
 **Example**: my_tuple = (2, 3, 4, "first tuple")

In [47]:
# Creating a Tuple with the use of Strings
Tuple1 = ('Anaconda', 'colabs')
print("Tuple with the use of String: ")
print(Tuple1)

Tuple with the use of String:
('Anaconda', 'colabs')

In [48]:
# Creating a Tuple with the  use of built-in function
Tuple_2 = tuple('Statistics')
print("Tuple with the use of function: ")
print(Tuple_2)

Tuple with the use of function:
('S', 't', 'a', 't', 'i', 's', 't', 'i', 'c', 's')

In [49]:
# Creating a Tuple with the use of list
list1 = [10, 20, 40, 50, 60]
print("Tuple using List: ")
print(tuple(list1))

Tuple using List:
(10, 20, 40, 50, 60)

In [50]:
# Creating nested tuple
Tuple_3 =(Tuple1,Tuple_2)
print("The combined tuple is",Tuple_3)

The combined tuple is (('Anaconda', 'colabs'), ('S', 't', 'a', 't', 'i', 's', 't', 'i', 'c', 's'))

We can use the slicing operator **[ ]** to extract items but we cannot change its value.

In [51]:
# Accesing the tuple elements
Tuple_2 = ('DataScience')
print('Slicing the tuple from 0 to 2', Tuple_2[0:2])

Slicing the tuple from 0 to 2 Da

In [52]:
# We can't modify the tuple elements and it will throw an error
Tuple_3 =('Jupyter Notebook')
Tuple_3[2]= 'h'

TypeError: 'str' object does not support item assignment

#### **Adding new elements**

Since tuples are immutable. We cannot update them by using any method like append().

In [53]:
# We cannot use append to update the tuple but we can concatenate two tuples.
t = (5, 6, 2)
t1 = t.append(78)
print(t1)

AttributeError: 'tuple' object has no attribute 'append'

#### **Removing an element**

Removing individual tuple elements is not possible.

In [54]:
del t1[1]

NameError: name 't1' is not defined

In [55]:
# We can remove an entire tuple by using del statement
# let us delete tuple t
del t

#### **Concatenating Sequences**
1. Sometimes we require to join some records. 
2. We can use + operator to join strings, tuples and lists

##### **Concatenating using '+' operator**

Here, We will add two tuples ato get a new concatenated tuple.

In [56]:
# Concatenating tuples by using '+'
a = (10, 25, 63, 45, 78, 20, 30)
b = (10, 20, 45)
# concatenate tuples using + operator
c = a + b
print(f'Concatenated tuple is :{c}')

Concatenated tuple is :(10, 25, 63, 45, 78, 20, 30, 10, 20, 45)

In [57]:
# Concatenating strings by using '+'
a = 'My name is '
b = 'Harpreet'
# concatenate strings using + operator
print(f'Concatenated string is {a+b}')

Concatenated string is My name is Harpreet

In [58]:
# Concatenating lists by using '+'
a = [10, 25, 63, 45, 78, 20, 30]
b = [10, 20, 45]
# concatenate tuples using + operator
c = a + b
print(f'Concatenated tuple is :{c}')

Concatenated tuple is :[10, 25, 63, 45, 78, 20, 30, 10, 20, 45]

## **Dictionary** ##
1. Dictionary is an **unordered** collection of key-value pairs.
   
   **Example** : sample_dict ={0:'hi', 1 : 'new', 2: 'dictionary'}
   
   where, **Keys** : 0, 1, 2 and **values**: hi, new, dictionary
                       
2. Used for huge amount of data. 

3. Dictionary can be created by placing a sequence of elements within curly {} braces, separated by ‘comma’ or by using dict() keyword. 
  
5. Dictionary consist of keys and values. 
6. keys can’t be repeated and must be immutable
6. We must know the key to retrieve the value from dictionary.

In [59]:
# Create empty dictionary
empty_dict = {}
print(f'Check the values in the dictionary: {empty_dict}', )

Check the values in the dictionary: {}

In [60]:
# check data type of dictionary
dict_1 = {1: 'apple', 2: 'banana', 3: 'orange' }
# check the data type
print("The dict_1 belongs to class  :", type(dict_1))

The dict_1 belongs to class  : <class 'dict'>

In [61]:
# We can check the keys in the dictionary by using .keys()
dict_1.keys()

dict_keys([1, 2, 3])

In [62]:
# To check the values in the dictionary by using .values()
dict_1.values()

dict_values(['apple', 'banana', 'orange'])

In [63]:
# Using dict() keyword to create a dictionary
my_dict = dict({'keyword' :1, 'tutorials' : 2})
print(my_dict)

{'keyword': 1, 'tutorials': 2}

We use key to retrieve the respective value. But not the other way around.

In [64]:
# Retrieve the values using keys
print('dict_1[1]= ', dict_1[1])

dict_1[1]=  apple

In [65]:
# We can't use the values to retrieve keys and it will generate error.
print("dict_1['orange'] =",dict_1['orange'])

KeyError: 'orange'

### **Updating the dictionary**

1. We can update a dictionary by adding a key-value pair, modifying an existing value, or by using the append() method.
2. To update the existing elements inside a dictionary, we need a reference to the key we want the value to be updated.

In [66]:
my_dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

# update existing entry
# update age to 8
my_dict['Age'] = 8 

# print dictionary
print(my_dict)

{'Name': 'Zara', 'Age': 8, 'Class': 'First'}

In [67]:
# Add new entry with Key as school and Value DPS School
my_dict['School'] = "DPS School"

# print dictionary
print(my_dict)

{'Name': 'Zara', 'Age': 8, 'Class': 'First', 'School': 'DPS School'}

In [68]:
my_dict = {"username": "XYZ", "email": "abc@gmail.com", "location": "Hyderabad"}

# change the username to HJKL
my_dict["username"] = "HJKL"
print(my_dict)

{'username': 'HJKL', 'email': 'abc@gmail.com', 'location': 'Hyderabad'}

In [69]:
# Using an append/extend keyword to add elements to the dictionary which has list of values
my_dict = {"Name":[],"Address":[],"Age":[]}

In [70]:
# add values using append 
# keysheer are lists
# let us add two users with 
# name :  Mike, Ram
# Address:  USA, India
# Age:  42, 54

my_dict["Name"].extend(["Mike", "Ram"])
my_dict["Address"].extend(["USA", "India"])
my_dict["Age"].extend([42, 54])	

print("The new dictionary by using extend keyword", my_dict)

The new dictionary by using extend keyword {'Name': ['Mike', 'Ram'], 'Address': ['USA', 'India'], 'Age': [42, 54]}

In [71]:
# Add a single new record using append
# name : robert, address: australia, age 64

my_dict["Name"].append("Robert")
my_dict["Address"].append("Australia")
my_dict["Age"].append(64)	

print("The new dictionary by using append keyword", my_dict)

The new dictionary by using append keyword {'Name': ['Mike', 'Ram', 'Robert'], 'Address': ['USA', 'India', 'Australia'], 'Age': [42, 54, 64]}

In [72]:
# Update the dictionary to change the name from Mike to Steven

my_dict["Name"][0] = "Steven"
print(f'My updated distionary is : {my_dict}')

My updated distionary is : {'Name': ['Steven', 'Ram', 'Robert'], 'Address': ['USA', 'India', 'Australia'], 'Age': [42, 54, 64]}

### **Removing an element in a dictionary**

1. We can either remove individual dictionary elements or clear the entire contents of a dictionary. 
2. Similar to lists, we can use del, pop and remove methods

In [73]:
#Using the del keyword to delete the elements
my_dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First', 'list':[1, 2, 3, 4]}

# remove entry with key 'Name'
del my_dict['Name'] 

# remove second element of inserted list 
del my_dict['list'][1]

print(my_dict)

{'Age': 7, 'Class': 'First', 'list': [1, 3, 4]}

In [74]:
# Using pop and remove function to remove the elements
my_dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First', 'list':[1, 2, 2, 3, 4]}

# remove single element with key 'Name'
my_dict.pop('Name') 

# remove first matching element of list
my_dict['list'].remove(2) 
print(my_dict)

{'Age': 7, 'Class': 'First', 'list': [1, 2, 3, 4]}

In [75]:
# Empty the dictionary or clear the contents inside the dictionary 
my_dict.clear()    
print(my_dict)

{}

In [76]:
# Deleting whole dictionary
del my_dict

## **Set** ##
1. Set is an **unordered** collection of unique items.  
2. Set is defined by values separated by comma inside braces { }.
   
   Example : {2, 3, 'hi', 4} 
3. Items in a set need not to be ordered.
4. Items with multiple data types can be passed in set.
5. Duplicate values are treated as a single value.
6. Very useful in Natural Language Processing - We can craete a  dictionary of unique words using a set.

In [77]:
# Creating empty set
set_1 = set()
print(f"The set is {set_1} empty.")

The set is set() empty.

In [78]:
# Creating a set
set_2 = set('Python')
print("The set is :", set_2)

The set is : {'n', 'o', 't', 'P', 'h', 'y'}

In [79]:
# Set with the use of list
# We can also check that set doesn't have duplicate values
my_list = ["python", "is", "good", "language", "python", "is", "best"]
# create set from the list
set_3 = set(my_list)
print("The set with the use of list is :", set_3)

The set with the use of list is : {'is', 'best', 'good', 'python', 'language'}

In [80]:
# Having mixed data types
set_4 = (1, 2, 56, "python", 48, "language")
print("set with mixed values is:",set_4)

set with mixed values is: (1, 2, 56, 'python', 48, 'language')

### **Add an element** 
1. We can add new elements by using add() menthod. 
2. add() method doesn't add an element to the set if it's already present in it..

  **Example**:

  A. add(5)
  where A is a set and add() method adds 5 to the set.
4. The add method takes only single parameter.

In [81]:
A = {'a', 'e', 'i', 'o'}
# add missing vowel u
A.add('u')
# The order or vowels may differ
print('The new set is : ', A)

The new set is :  {'o', 'i', 'e', 'a', 'u'}

In [82]:
# let us add vowel e to set A again
A.add('e')
print('The new set is : ', A)

The new set is :  {'o', 'i', 'e', 'a', 'u'}

In [83]:
# We can add a tuple to the set but not list
A={'happy', 'to', 'take', 'this', 'class'}
tup =('i', 'a')
my_list = [1, 2]
# add the tuple to set A
A.add(tup)
print(A)

{'happy', 'this', 'take', 'class', ('i', 'a'), 'to'}

In [84]:
A.add(my_list)
print(A)

TypeError: unhashable type: 'list'

### **Update a Set**

1. We can use update() method to update existing set by using any list, tuple, dictionary.

  Example:

  A.update(list1, dict, tuple, set)
  
  where A is a set and we can use list, dictionary, tuple, set etc. to update A.

In [85]:
A = {1, 2, 3, 4}
B = {'Mon', 'Tue'}

# Update Set A using values from set B
A.update(B)
print('the new set A is:', A)

the new set A is: {'Mon', 1, 2, 3, 4, 'Tue'}

In [86]:
# If dictionaries are passed to the update() method, the keys of the dictionaries are added to the set.
my_dict = {'key1':'hi', 'key2':'ok', 'key3':'xyz'}
A = {2, 56, 48, 56}
# update set A using dictonary my_dict
A.update(my_dict)
print('The new set A is :', A)

The new set A is : {48, 2, 'key2', 56, 'key1', 'key3'}

In [87]:
A = {1, 2, 3, 4}
B = ['Mon', 'Tue']

# Update Set A using values from set B
A.update(B)
print('the new set A is:', A)

the new set A is: {'Mon', 1, 2, 3, 4, 'Tue'}

### **Removing an element**
1. We can use clear(), remove() and pop() method to remove elements.
2. Clear method removes all elements from the set.
3. Remove() method removes specific element from the set.
1. The pop() method removes an arbitrary element from the set and returns the element removed.
  
  *    It doesn't take any argument.
  *    It removes element randomly and result may differ for every run.

In [88]:
# if we use .pop  multiple times we can see the random elements are removed and the result is shown.
A = {'Good', 'name', 'why', 'abc','rest'}

In [89]:
# try using pop multiple times on set A
removed_element = A.pop()
print(f'Removed element : {removed_element}')
print("The set after removing an element is :", A)

Removed element : name
The set after removing an element is : {'abc', 'rest', 'Good', 'why'}

In [90]:
# Remove() method removes specific element from the set.
language = {"english", "french", "german", "hindi"}

# remove 'french' from the language set
language.remove("french")
print("The new set of languages are:",language)

The new set of languages are: {'hindi', 'english', 'german'}

In [91]:
# Clear method removes all elements from the set
A = {'My','name','is','abc'}
A.clear()
print(A)

set()

# **IF, ELIF, ELSE STATEMENT**

## **if Statement**
Decision making is one of the most important task in our life.
Similarly, if, elif, else statements are used for decision making in python. 
1. Python if statement **syntax** :
 
```
 if test expression:
    body of the expression
```
<div>
<img src="https://drive.google.com/uc?export=view&id=1nlOzkfmx8I0MPSeybnSqPEjd0e8jd-ip" width="200"/>
</div>     

2. The program evaluates the test expression and will execute statements only if the test expression is true.
3. If the statement is false the statements are not executed.

In [92]:
if(6 > 4):
  print("6 is the highest digit")

6 is the highest digit

In [93]:
# We won't get any output since 'a' and 'A' are not same in python.
if('a' == 'A'):
  print('We all are same')

## **If-else statement** 
1. there are two blocks : if block and else block

   

**Syntax** :

```
if test expression:
  execute body of the if loop
else:
  execute body of the else loop
```

<img src="https://drive.google.com/uc?export=view&id=19FTfMaRHWar3MoUVkrZLgrH7R0o97UVX" width="200"/>

In [95]:
# ask user to input a number
num  = int(input("Please enter a number:\n"))

# write a if else block to check if number is greater than or equal to zero
# if the num >= 0 print number is positive or zero
# else print number is negative

if(num >= 0):
  print(f"{num} is positive or zero")
else:
  print(f"{num} is negative:")

Please enter a number:
5
5 is positive or zero

## **If.. elif.. else statement**

1. It consists of one **if block**, multiple **elif blocks**, one **else block**

**Syntax** :

```
if test expression:
  body of the if loop
elif test expression:
  body of the elif loop
elif test expression:
  body of the elif loop
elif test expression:
  body of the elif loop
else:
 body of the else loop
```



3. The elif is short for else if. It allows us to check for multiple expressions.
4. If the condition for **if is False**, it checks the condition of the next elif block and so on.
5. If all the conditions are False, the body of else is executed.
6. The following flow chart explains the if..elif..else condition :

<img src="https://drive.google.com/uc?export=view&id=1mih1263Q8BKHhb1Tpj1-JwV5Bly38Nis" width="250"/>

In [96]:
a = 105
b = 102
c = 200

# write if, elif, else block to find the greatest number
if(a > b):
  print(f'a is greater than b')
elif (b > c):
  print(f'b is greater than both a and c')
else:
  print(f'c is graeter than both b and c')

a is greater than b

If there are multiple True Conditions only first True Condition is executed

In [97]:
if 1 == 2:
    print('Hi, This is if block')
elif 3 == 3:
    print('Hi, this is elif block')
elif 4 == 4:
    print('Hi, this is also elif block')
else:
    print('Hi, I am the else block.')

Hi, this is elif block

In [98]:
if 1 == 2:
    print('first')
elif 2 == 2:
    print('middle') # first it will print elif block
    if 'a' == 'a': # again if condition is checked
        print('Second Last') 
else:
    print('Last')

middle
Second Last

## **Nested if statement**
Having if-elif- else statement inside another if-elif-else statement.

In [99]:
# check if number is poistive, negative or zero
n = -10
# Check if n is zero, positive of negative number
if n >= 0:
  if n == 0:
    print('zero')
  else:
    print('n is a positive number')
else:
  print('n is a negative number')

n is a negative number

In [100]:
a = 120
b = 500
c = 200

# Modify the code above to find the greatest number (assume numbers cannot be equal)

if (a > b):
  if (a > c):
    print('a is the greatest number')
  else:
    print('c is the greatest number')
elif(b > c):
  print('b is the greatest number')
else: # need to be cecked
  print('c is the greatest number')

b is the greatest number

# **For loops**
1. The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. 
 
   **Syntax** : 

  ```
  for val in sequence:
     body of the for loop
  ```

3. Here, val is the variable that takes the value of the item inside the sequence on each iteration.
4. Loop continues until we reach the last item in the sequence. 
5. The body of for loop is separated from the rest of the code using indentation.
6. The complete flow chart for the for loop is as follows:

<img src="https://drive.google.com/uc?export=view&id=1XTN3939tW5o8zpUrc7lFWlCtT10tbtvh" width="250"/>

In [101]:
# for each iteartion one fruit name will be printed in a new line
fruits =['apple', 'banana', 'mango', 'grapes']
for x in fruits:
  print(x)

apple
banana
mango
grapes

In [102]:
# Let's find the sum of the numbers in a list
my_list= [10, 20, 45, 16, 78, 30]
sum = 0
for x in my_list:
  sum = sum + x
print("the sum of the list is :", sum)

the sum of the list is : 199

## **Continue statement**
1. The continue statement is used to skip the rest of the code inside a loop for the current iteration only. 
2. Loop does not terminate but continues on with the next iteration.

In [103]:
my_List = [14, 15, 78, 82, 93, 78, 45, 75]
# Print all the numbers except 78
for x in my_List:
  if x == 78:
    continue
  print(x)

14
15
82
93
45
75

## **Break Statement**
With the break statement we can stop the loop before it has looped through all the items:

In [104]:
my_List = [14, 15, 78, 82, 93, 78, 45, 75]
# Print the numbers until the first occurence of 78
for x in my_List:
  if x == 78:
    break
  print(x)

14
15

# **While loops**
1. while loop is similar to for loop but here we can execute a set of statements as long as a condition is true.

**Syntax**:
```
while (test expression):
  the body of the while loop
```

2. The test expression is checked first. 
3. The body of the loop is entered only if the test_expression evaluates to True. After one iteration, the test expression is checked again. This process continues until the test_expression evaluates to False
2. The flow chart for the while loop is as follows:

<img src="https://drive.google.com/uc?export=view&id=1vQA9MeLbP7G8pX8xwroRbKQcOdslZShr" width="250"/>

In [105]:
i = 1
while i < 5:
    print(f'i is: {i}')
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

In [106]:
# Program to add natural
# numbers up to 
# sum = 1 + 2 + 3 +...+ n

n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i += 1   # update counter

# print the sum
print(f'The sum is {sum}')

The sum is 55

# **Range**
1. The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

  **Syntax** :

  ```
  Range(stop)
  Range(start, stop, step)
  ```

2. range() takes mainly three arguments

> **start** - 	Optional. An integer number specifying the strat position. Default is 0

> **stop** - Required. An integer number specifying teh stop position (not included).

> **step (Optional)** - Optional. An integer value which determines the increment. default is 1

In [107]:
# Create a list by using range
list(range(5))

[0, 1, 2, 3, 4]

In [108]:
# Create a sequence of numbers from 3 to 5, print each item in the sequence
x = range(3, 6)
for n in x:
  print(n)

3
4
5

In [109]:
# Create a sequence of numbers from 3 to 20 with  increment by 2 instead of 1.
x = range(3, 20, 2)
for n in x:
  print(n)

3
5
7
9
11
13
15
17
19

In [110]:
# Create a list of even numbers from 2 to 12 
start = 2
stop = 14
step = 2

print(list(range(start, stop, step)))

[2, 4, 6, 8, 10, 12]

In [111]:
# for loop by using range function
for x in range(0, 5): # range(0,5) give numbers 0, 1, 2, 3, 4
  print(x)
  if x == 3:
    print('I am Alex and 3 is my StudentId')

0
1
2
3
I am Alex and 3 is my StudentId
4

# **List comprehensions**
1. List comprehension is an elegant way to define and create lists based on existing iterables(sets, tuples, strings).
2. It provides a short and concise way to form new iterables.

  **Syntax** :

  ```
  [expression for item in list]
  ```

In [112]:
# We want to separate the letters of the word Google colab and add the letters as items of a list.
g_letters = []
for letter in 'Google colab':
    g_letters.append(letter)

# We can observe that even the space is considered as character.
print(f"The list of the word Google colab is : {g_letters}")

The list of the word Google colab is : ['G', 'o', 'o', 'g', 'l', 'e', ' ', 'c', 'o', 'l', 'a', 'b']

In [113]:
# The list comprehension for the above code
g_letters = [ letter for letter in 'Google colab' ]
print( 'The list of the word Google colab is :',g_letters)

The list of the word Google colab is : ['G', 'o', 'o', 'g', 'l', 'e', ' ', 'c', 'o', 'l', 'a', 'b']

In [114]:
# call a method on each element
yummy_junkie = ['  chocolate', '  cake ', 'burger  ',' ice cream']
# using .strip() method to remove spaces from eaxh element of the list (without using for loop)
[word.strip() for word in yummy_junkie]

['chocolate', 'cake', 'burger', 'ice cream']

In [115]:
# create a list of 2-tuples like (number, cubes)
[(x, x**3) for x in range(6)]

# the tuple must be parenthesized, otherwise an error is raised
# [x, x**2 for x in range(6)]

[(0, 0), (1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

In [116]:
# flatten a list using a listcomp with two 'for'
my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# flatten the list
[num for elem in my_list for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# **Functions**
1. Function is a group of related statements that perfroms specific task.

 **Syntax**:
  ```
  def function_name(parameter):
    body of the function
  ```

  
 2. Keyword def that marks the start of the function header.
 3. Parameters (arguments) through which we pass values to a function. They are optional.
 4. A colon (:) to mark the end of the function header.
 5. Optional documentation string (docstring) to describe what the function does.
 6. An optional return statement to return a value from the function.

In [117]:
# Creating a function
def greet(name):
    """
    This function greets to
    the person passed in as
    a parameter
    """
    print(f"Hello {name} Good morning!")

In [118]:
# calling a function
greet('Alex')

Hello Alex Good morning!

In [119]:
# Using a  return statement for a function
# write a function to get absolute value

def absolute_value(num):
    """
    This function returns the absolute
    value of the entered number
    """

    if num >= 0:
        return num
    else:
        return -num

In [120]:
print(absolute_value(2))
print(absolute_value(-4))

2
4

In [121]:
# creating a function that gives square of the number
def square(x):
    """
    This function returns the square of the number.
    
    """
    return x ** 2

In [122]:
# calling a function
square(5)

25

# **lambda expressions**
1. In Python, an anonymous function is a function that is defined without a name.
2. Normal functions are defined by using def keyword but anonymous functions are defined by using lambda function.
3. A lambda function can take any number of arguments, but can only have one expression.



**Syntax**:

  ```
  lambda arguments: expression

  ```

In [123]:
# Normal function to calculate the double of a number
def double(x):
  return x * 2

double(5)

10

In [124]:
# Write the above function using lambda expression
double = lambda x: x * 2
print(double(5))

10

# **Map and filter**
1. map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)
2. **Syntax** :
  
  ```
  map(function,iterable)
  ```

3. **function** - map() passes each item of the iterable to this function.

 **iterable** - iterable(list, tuple, string) which is to be mapped
4. The map() function applies a given function to each item of an iterable.
5. The returned value from map() (map object) can then be passed to functions like list() (to create a list), set() (to create a set) and so on.

In [125]:
def calculateSquare(n):
    return n * n

numbers = (1, 2, 3, 4)
result = map(calculateSquare, numbers)
print(result)

<map object at 0x00000275DC75E7C0>

In [126]:
# converting map object to set
numbers_Square = set(result)
print(numbers_Square)

{16, 1, 4, 9}

In [127]:
# Squaring a number by using lambda function

numbers = (5, 2, 15, 4, 22)
result = map(lambda x: x*x, numbers)
print(result)

# converting map object to set
numbers_Square = set(result)
print(numbers_Square)

<map object at 0x00000275DCCC2400>
{225, 484, 4, 16, 25}

# **Methods**

## **Lower**
It helps in converting the upper case alphabets into lower case alphabets in the string.

In [128]:
#Converting string into lower case
st = 'HELLO my name is Sam'
st.lower()

'hello my name is sam'

## **Upper**
It helps in converting the lower case alphabets into upper case alphabets in the string.

In [129]:
#Converting the string into upper case
s='Hello,this is morning time'
s.upper()

'HELLO,THIS IS MORNING TIME'

## **Split**
It helps in splitting the words or characters in a string.

In [130]:
st='Let us take a data science course '
st.split()

['Let', 'us', 'take', 'a', 'data', 'science', 'course']

## **Count**
It helps in counting the particular occurence of an alphabet or word in the list, string or tuple.

In [131]:
my_list=['moni','Alex','Data']
my_list.count('moni')

1

## **Reverse**
1. The reverse() method doesn't return any value. It updates the existing list.

In [132]:
my_list.reverse()
print(my_list)

['Data', 'Alex', 'moni']

## **Sort**
1. The sort() method sorts the elements of a given list in a specific ascending or descending order.
2. By default, sort() doesn't require any extra parameters. It has two optional parameter and they are:
3.**reverse** - If True, the sorted list is reversed (or sorted in Descending order).
4.**key** - function that serves as a key for the sort comparison.

In [133]:
# vowels list
vowels = ['e', 'a', 'u', 'o', 'i']

# sort the vowels
vowels.sort()

# print vowels
print('Sorted list:', vowels)

Sorted list: ['a', 'e', 'i', 'o', 'u']

In [134]:
# To sort in descending order
my_list=[25, 45, 78, 10, 3]
my_list.sort(reverse=True)
print(my_list)

[78, 45, 25, 10, 3]

# **OOPS CONCEPT**

---

1.  Object-Oriented Programming(OOP), is all about creating “objects”. 
2.   An object is a group of interrelated variables and functions.
3. These variables are often referred to as properties of the object and functions are referred to as the behavior of the objects.
4. These objects provide a better and clear structure for the program. 
5. Examples : 
   
   a) Consider a bike as an object :

  **properties** : color, price, model etc.
   
  **function** : accelaration, slowing down, gear change.

  b) Consider a dog as an object:

  **properties** : color, breed, name, weight etc.

  **function** : walking, barking, playing etc.

6. Some of the programming languages that follow OOPs concept are C++,  java, python etc. 


## **MAJOR OOPS CONCEPTS IN PYTHON**
Following are the oops concept in python :

## **Class** ###
1. Like function definitions begin with the **def keyword** in Python, class definitions begin with a **class keyword**.
2. **Syntax**:

  ```
  class ClassName():
      body of the class
  ```

 Here by using class keyword we define class and ClassName is the name of the class.


3. As soon as we define a class, a new class object is created with the same name. 
4. This class object allows us to access the different attributes as well as to instantiate new objects of that class.

## **Object**
1. An object is an instance of a class.
2. It can be used to perform the functions that are defined in the class.

## **Self keyword**
Self is a keyword with which we can access all the instances including methods and attributed of the class.

In [135]:
#created a class Person
class Person: 
    "This is a person class"
    age = 10
    #create a function inside the class
    def greet(self): 
        print(f'Hello My age is {self.age}')

In [136]:
# Instantiate the class
person1 = Person()
person2 = Person()

In [137]:
# accessing attributes
print(person1.age) 
print(person2.age)

10
10

In [138]:
# accessing the method from the class
person1.greet()
person2.greet()

Hello My age is 10
Hello My age is 10

## **__init__  method**
1. init method is similar to the constructor in c++ and java.
2. Constructor are used to initialize the objects state.

In [139]:
# A Sample class with init method  
class Students:  
      
    # init method or constructor   
    def __init__(self, name, age):  
        self.name = name
        self.age = age
      
    # Sample Method   
    def say_hi(self):  
        print(f'Hello, my name is: {self.name}')

In [140]:
# Create Objects
student1 = Students('Alex', 42)
student2 = Students('Max', 30)

In [141]:
# print attributes of studebt 1 and student 2
print(f'attributes of student1: {student1.age}, {student1.name}')
print(f'attributes of student2: {student2.age}, {student2.name}')

attributes of student1: 42, Alex
attributes of student2: 30, Max

In [142]:
# Aceess Methods
student1.say_hi()

Hello, my name is: Alex

## **Inheritance** ###
1. Inheritance is one of the most important OOPs concept.
2. It provides reusability of existing class.
2. It allows to create a new class by modifying existing class or to take properties of a class.
3. The new class properties are derived from the base class also known as **parent class**.
4. The new class formed from existing class is known as **child class**.

<img src = "https://drive.google.com/uc?view=export&id=1vpItpL1eKKtYndOzHXMnOz_6dcpeEihZ" width = "250"/>

4. **Syntax**:


```
class class_name(derived class):
   body of the child class
```

In [143]:
# Creating base class and child class
class Teacher:  
    def teach(self):  
        print("Teacher said that she will take english class")  

# child class student inherits the base class teacher  
class Student(Teacher):  
    def learn(self):  
        print("Student said that he will read chapter number 7")

In [144]:
# Student class has both properties of teacher class and student class

student1 = Student() 
student1.teach()
student1.learn()

Teacher said that she will take english class
Student said that he will read chapter number 7

In [145]:
# init method in inheritance
class parent():
  def  __init__(self, p_name ='Mat'):
      self.p_name = p_name

In [146]:
class child(parent):
  def __init__(self, name): #creating another __init__ method
    super().__init__() # calling the parent __init__ function
    self.name = name # initializing the values

    print(self.p_name, 'is a parent')
    print(self.name,"is a child")

In [147]:
p = child('Ava')

Mat is a parent
Ava is a child

In [148]:
class child(parent):
  def __init__(self, name): #creating another __init__ method
    super().__init__() # calling the parent __init__ function
    self.name = name # initializing the values
    self.p_name = 'Henry'    
    print(self.p_name, 'is a parent')
    print(self.name,"is a child")

In [149]:
p = child('Shelly')

Henry is a parent
Shelly is a child

This is just the basic introduction to the OOPS concept in Python. To read the detailed explanation, refer the notebook 'Object Oriented Programming with Python'